
  <div class="navbarperso">
  <%= image_tag "arbre.png", class:"arbreimg" %>
        <a class="navlink" href="#Home">Home</a>
    <a class="navlink" href="#Adoption">Adoptions</a>
    <a class="navlink" href="#Find a tree">Find</a>
    <a class="navlink" href="#Find a tree">Hello</a>
        <%= image_tag "arbre.png", class:"arbreimg" %>
  </div>
  <div class="banner">
  <h1>Adopt a tree</h1></div>
 <div class="BigCardsconatainer">
    <% @trees.each do |tree| %>
      <div class="CardsContainer">
        <%= link_to tree_path(tree), class:"text-decoration-none" do %>
            <%= tree.name %>
        <% end %>
      </div>
    <% end %>
      </div>
  </div>
  <%= link_to "Add a Tree", new_tree_path %>
</div>
