<H1> Show of trees</H1>
    <h1><%= @tree.name %> </h1>
        <h2><%= @tree.description%></h2>
        <h3><p><%= @tree.price_per_year%> $</p></h3>
        <h3><%= @tree.fruit%></h3>
        <h3><%= @tree.quantity_per_year%></h3>
        <%= link_to "Back", :back %>

 <%= link_to "delete", tree_path(@tree), method: :delete, data: { confirm: "Are you sure you want to remove your tree 🌳 ? ", class: 'text-danger'} %>
